body{
    display: flex;
    justify-content: center;
    background-color: black;
    overflow-y: hidden;
}

main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
    height: 100vh;
}

#atributos{
    max-width: 250px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    gap: 8px 0px;
}

#atributos div{
    text-align: left;
    color: black;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
}

#atributos h1{
    text-align: center;
    color: black;
    font-size: 20px;
}

#tela{
    background-image: url(../png/BG/BG.png);
}